<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/test?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        можно все это мапить с помощью файла Student.hbm.xml -->
<!--        <mapping resource="entity/Student.hbm.xml"/>-->

<!--        либо с помощью аннотации, которые содеражатся на самом классе-->

        <!--        <mapping class="ru.eshmakar.entity.Student"></mapping>-->
        <mapping class="ru.eshmakar.oneToOne.Person"></mapping>
        <mapping class="ru.eshmakar.oneToOne.HomeAddress"></mapping>
    </session-factory>
</hibernate-configuration>